<! DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Welcome admin page</title>
    </head>
<body>
    <h1>
        Welcome back, Administrator

    </h1>

    <p>Enter your sql command here</p>
    <p><textarea name="sql_command" id="sql_command" cols="30" rows="10" placeholder="Your SQL code here">
       </textarea></p>
    <p><input type="submit"></p>
    <p></p>
    <p></p>
    <p>Output</p>

    <p></p>
    <p></p>
    <!-- <input type="submit" value="logout" > -->
</body>

<!-- to use sql, text box, run, output  -->
</html>