<!DOCTYPE HTML>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Welcome back, </title>
        <!-- occupancy rate row num of days occpied/ 365  -->

    </head>
    <body>
        <form action="http://localhost:5000/search_result">
        <h1>Welcome back, {{ name }}! </h1>
        <p><input type="text" name="search_box"  size="30px" placeholder="Search for an Airbnb by location" name="Search_box">
            <input type="submit" name="search" value="Search">
        </p>
        <!-- <label for="search_box">search here</label> -->
        </form>
    </body>
    <!-- guest check availability, name of bnb 
    display a table,  -->




</html>