<html>
<!-- airbnb type -->

<form action="{{url_for('host_upload')}}" , method="POST">
        <p>Property name <input type="text" name="property_name" placeholder="testbnb"></p>
        <p>Host<input type="text" name="host" placeholder="required"></p>
        <p>Maximum # of guests<input type="text" name="maxsize" placeholder="required"></p> <br>
        <label for="available">Available </label>
        <select name="available" id="available">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select><br>
        <label for="type">Type</label>
        <select name="type" id="type">
            <option value="entire place">Entire place</option>
            <option value="private room">Private room</option>
            <option value="shared room">Shared room</option>
        </select><br>
        <p>Language <input type="text" name="language" id="language" value="english"></p>
        <p>Email<input type="email" name="email" placeholder="required"></p>
        <p>Cost<input type="text" name="cost" placeholder="required"></p>
        <p>Location <input type="text" name="location" placeholder="required"></p>
        <p>Duration<input type="text" name="duration" placeholder="required"></p>

        <p>Description<textarea name="description" id="description" cols="30" rows="10" placeholder="Description">
               </textarea></p>
        <p>Rules<textarea name="rules" id="rules" cols="30" rows="10" placeholder="Your SQL code here">
               </textarea></p>
        <input type="submit" name="save" value="save">
        <!-- name,gender,phone,email,staylist,first name ,middle, lang,gov id, address ,emergency contact, dob , -->
</form>


</html>